<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <title>USER INFO</title>
</head>
<body>
    <div>
        <H1>Welcome To {%NAME%} Information</H1>
    </div>

    <div> 
        <h3>
            Name: {%NAME%} <br>
            Address: {%ADDRESS%} <br>
            Email: {%EMAIL%} <br>
            Age: {%AGE%} <br>
            Eye Color: {%EYECOLOR%} <br>
        </h3>
    </div>
    
</body>
</html>